{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "semi": 0,
        "no-unused-vars": 0,
        "no-console": "off",
        "arrow-body-style": 0,
        "react-hooks/rules-of-hooks": 1,
        "react-hooks/exhaustive-deps": 2
    },
    "extends": [
        "eslint:recommended",
        "plugin:react-hooks/recommended"
    ]
}
