<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/square-form.css' />
    </head>
<body>
    <div id="topBar"></div>
    <div id="squareForm"></div>
    <div id="footer"></div>
    <script src="/js/sq.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>